


<div class="container">
  <div class="row">
    <div class="col-sm-2">
      
    </div>
    <div class="col-sm-8" align="center">
 <br><br>   
  
  <div>  <h1>WELCOME</h1><br></div>

    <h1>HAMZA DUMAN</h1>
    <p>14542014</p>
    <br>
    </div>
    <div class="col-sm-2">
     
    </div>
  </div>
</div>
