<div class="container">
  <div class="row">
    <div class="col-sm-2">
      
    </div>
    <div class="col-sm-8">
 <br><br> 
 <br>
        <h1>Post Düzenle</h1>
        
        <%= render 'form' %>
        
        <%= link_to 'Show', @post %> |
        <%= link_to 'Back', posts_path %>
        <br>
        <br>
    </div>
    <div class="col-sm-2">
     
    </div>
  </div>
</div>

